extends index.jade

block content
	.onePlace
		h1.onePlace__title Комплексный обед 1
		.onePlace__price
		.onePlace__menu
			.onePlace__menuElement Суп карпачо
			.onePlace__menuElement Салат Цезарь
			.onePlace__menuElement Суп карпачо

block sidebar
